@import "reset";

.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;

  .header {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-image: url(../images/banner.png);
    .nav {
      z-index: 30;
      height: 80px;
      max-width: 1024px;
      width: 100%;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      .icon {
        width: 100%;
        background: #f7f7f7;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: end;
        .fb {
          color: #3b5694;
          font-weight: bold;
        }
        .fb::before {
          content: url(../images/facebookIcon.png);
        }
        .twitter {
          color: #1c96e8;
          font-weight: bold;
        }
        .twitter::before {
          content: url(../images/twitterIcon.png);
        }
        .fb:hover, .twitter:hover{
            cursor: pointer;
        }
      }
      img {
        display: block;
        margin-top: 15px;
      }
      .list {
        margin-top: 20px;
        width: 300px;
        display: flex;
        justify-content: space-around;

        a {
          padding-bottom: 21px;
          color: #03ca9c;
        }
        a:hover {
          transition: all 1s ease;
          font-weight: bold;
        }
      }
    }

    .banner {
      box-sizing: border-box;
      min-width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 30px;
      padding: 20px;
      position: absolute;
      top: 10%;
    }
  }

  .content {
    padding:50px 0;
    .course {
      display: flex;
      justify-content: space-around;
      .course-item {
        box-shadow: 1px 1px 1px 1px #ececec;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 275px;

        h2 {
          text-align: center;
          font-size: 25px;
        }

        p {
          margin: 10px;
          letter-spacing: 1.5px;
          line-height: 20px;
        }
      }
    }

    .compare {
      h2 {
        font-size: 25px;
        text-align: center;
        margin: 50px 0 30px 0;
      }
      table {
        margin: 0 auto;
        width: 700px;

        tr {
          th {
            text-align: left;
            padding: 10px;
            background: rgb(224, 224, 224);
            border-top: 1px solid #eee;
          }
          td {
            padding: 10px;
            border-bottom: 1px solid #eee;
          }
        }
        tr:nth-child(2) td:nth-child(2),
        tr:nth-child(2) td:nth-child(3),
        tr:nth-child(3) td:nth-child(3),
        tr:nth-child(3) td:nth-child(4),
        tr:nth-child(4) td:nth-child(2),
        tr:nth-child(5) td:nth-child(2),
        tr:nth-child(5) td:nth-child(3),
        tr:nth-child(6) td:nth-child(2),
        tr:nth-child(7) td:nth-child(2) {
          color: #03ca9c;
        }
      }
    }
  }

  .info {
    scroll-behavior: smooth;
    padding-top: 30px;
    padding-bottom: 30px;
    // margin-top: 50px;
    background: linear-gradient(
      115deg,
      rgba(0, 145, 95, 0.8) 42%,
      rgba(163, 223, 47, 0.1) 100%
    );
    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      text-align: center;
      color: #fff;
    }
    .info-main {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .main-image {
        display: block;
        width: 400px;
        height: 200px;
        background: #fff;
      }
      form {
        position: relative;
        height: 200px;

        label {
          display: block;
          color: #fff;
          margin-bottom: 3px;
        }
        input {
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          display: block;
          width: 400px;
          height: 25px;
          border-radius: 2px;
          border: none;
          margin-bottom: 12px;
          padding-left: 5px;
        }
        .submit {
          position: absolute;
          right: 0;
          width: 50px;
          height: 25px;
          background-color: #03ca9c;
          color: #fff;
        }
        .submit:hover{
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
  .icon{
    background-color:#ededed;
    display: flex;
    img{
      padding:50px 0;
      display: block;
      width:200px;
    }
  }

  .footer {
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    text-align: center;
    .footer-info {
      text-align: left;
      p {
        margin-bottom: 5px;
      }
      span {
        color: rgb(238, 8, 85);
      }
    }
  }
}

//狀態--------------------------------

.active {
  box-shadow: 0 -3px 0  #03ca9c inset;
  transition: all 0.8s ease-in-out;
}

/* animated 滾動套用 CSS 效果  預設隱藏 滑動到特定位置時才出現 */
.animated {
  opacity: 0;
  transition: all 2s;
  transform: translateY(50px);
}
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
